body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  color: #011F26;
  font-size: larger;
  background-color: #f2f2ed;
}

header, footer {
  background-color: #f2f2ed;
  color: #011F26;
  text-align: center;
  vertical-align: middle;
}
footer::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #011F26;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
}
footer {
 background: linear-gradient(135deg, #011F26 0%, #025E73 100%);
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding-top: 0px;
  color: #f2f2ed;
  font-size: larger;
  font-weight: 550;
  padding-bottom: 010px;
    justify-content: center;

}
figure {
  margin-top: 100px;
  border-radius: 10px;
  margin: 0;
  padding: 0px;
  justify-content: center;
  margin-bottom: 20px;

}
.img_contact {
  border: #F2A71B 2px solid;
  border-radius:15px;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 20px;

  transition: transform 0.5s ease;
}
figcaption {
  margin-bottom: 60px;
}
.img_contact:hover {
  transform: scale(1.6);
}
/* Color Theme Swatches in Hex */
.blue { color: #025E73; }
.blue8 { color: #011F26; }
.gris8 { color: #A5A692; }
.gris { color: #BFB78F; }
.yellow { color: #F2A71B; }